# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints

# PyInstaller / Build
build/
dist/
*.spec

# Logs
log.txt
winget.log
_tmp_winget.txt
*.log

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
